<!DOCTYPE html>
<html ng-app="mainDirective">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap core CSS -->
		<link href="js/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/flat-ui.css" rel="stylesheet">

		<script type="text/javascript" src="js/angular/angular.min.js"></script>
		<script type="text/javascript" src="js/directives/app.js"></script>
		<title>PH Mobile Prefix Search</title>
	</head>
	<body>

		<div class="container-fluid">
			<h3>Anong Network?</h3>
			<p>
				A mobile number prefix in the Philippines mobile network checker.
			</p>
			<div  class=" form-search col-xs-12 col-sm-6 col-md-5 col-lg-1" ng-controller="SearchController as search">

				<div class="form-group">
					<input type="number" class="form-control input-lg" ng-model="search.main" placeholder="add first 4 digits: 09XX">

					<h4 class="it-is" ng-hide="!search.main"><span class="result-col" ng-repeat="pref in search.mains | filter: search.main" ng-show="search.main"> {{pref.network}} </span> yan!</h4>
				</div>
			</div>
		</div>
		<footer>
					
<p>brought to you by: <a href="http://sepharoo.com/">bluestella</a></p>

			<script src="js/bootstrap/dist/js/bootstrap.min.js"></script>
		</footer>
	</body>
</html>
