<!DOCTYPE html>
<html ng-app="mainDirective">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type="text/javascript" src="js/angular/angular.min.js"></script>
		<script type="text/javascript" src="js/directives/app.js"></script>
		<title>PH Mobile Prefix Search</title>
	</head>
	<body>
		<div ng-controller="SearchController as search">
				<input type="search" ng-model="search.main" placeholder="search">
		
			<ul>
				<li ng-repeat="pref in search.mains | filter: search.main" ng-show="search.main">
					{{pref.network}}
				</li>
			</ul>
		</div>
	</body>
</html>
