<!DOCTYPE html>
<html ng-app="mainDirective">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap core CSS: http://jsfiddle.net/weSpW/3/ -->
		<link href="js/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/flat-ui.css" rel="stylesheet">

		<script type="text/javascript" src="js/angular/angular.min.js"></script>
		<script type="text/javascript" src="js/directives/app.js"></script>
		<title>PH Mobile Prefix Search</title>
	</head>
	<body>

		<div class="container-fluid">
			<h3>Anong Network?</h3>
			<p>
				A mobile network prefix checker in the Philippines.
			</p>
			<div  class=" form-search col-xs-12 col-sm-6 col-md-5 col-lg-1" ng-controller="SearchController as search">

				<div class="form-group">

					<input type="number" limit-to="3" class="form-control input-lg" ng-model="search.main" placeholder="enter first 4 digits: 09XX">
					<h4 class="it-is" ng-repeat="pref in search.mains  | filter: search.main" ng-hide="!search.main">
							{{pref.network}} yan! </h4>
					<a ng-href="tel:{{search.main}}">Tawagan mo na!</a>
					<a ng-href="sms:{{search.main}}">Text mo kaya?</a>
				</div>
			</div>
		</div>
		<footer>

			<p>
				powered by: <a href="http://sepharoo.com/">bluestella</a>
			</p>
			<div class="col-md-5 col-lg-1 col-xs-12">

				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- mobile banner -->
				<ins class="adsbygoogle"
				style="display:inline-block;width:320px;height:50px"
				data-ad-client="ca-pub-7223801262314111"
				data-ad-slot="4168349004"></ins>
				<script>
					( adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
			<script src="js/bootstrap/dist/js/bootstrap.min.js"></script>

			<script>
				(function(i, s, o, g, r, a, m) {
					i['GoogleAnalyticsObject'] = r;
					i[r] = i[r] ||
					function() {
						(i[r].q = i[r].q || []).push(arguments)
					}, i[r].l = 1 * new Date();
					a = s.createElement(o), m = s.getElementsByTagName(o)[0];
					a.async = 1;
					a.src = g;
					m.parentNode.insertBefore(a, m)
				})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

				ga('create', 'UA-6022188-19', 'auto');
				ga('send', 'pageview');

			</script>
		</footer>
	</body>

</html>